
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: +100;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* This prevents scrollbars from appearing */
  }
  
  .video-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .video {
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1000;
  }
  
  